## gitignore for development -> should be removed at some point

target/*
src/bin/testing_json_files/*
src/bin/official_nav_json_files/*
src/bin/nav_files/*
settings.json
*.json

src/bin/reference_data/*
src/bin/buildings_nav/*
src/bin/updated_nav_files/*

src/bin/old_data/*
src/bin/*.json
src/bin/*.geojson

src/bin/refined/*